.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.img-placeholder {
    width: 100%;
    padding-bottom: 100%;
    background-color: #e0e0e0;
    border-radius: var(--radius-md);
    background-image: linear-gradient(45deg, #e0e0e0 25%, #f0f0f0 25%, #f0f0f0 50%, #e0e0e0 50%, #e0e0e0 75%, #f0f0f0 75%, #f0f0f0 100%);
    background-size: 40px 40px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.about-meta h4 {
    font-size: 1.1rem;
}

.skills-list li {
    position: relative;
    padding-left: 20px;
    font-size: 1.05rem;
}

.skills-list li::before {
    content: "*";
    color: var(--color-accent);
    position: absolute;
    left: 0;
    font-weight: bold;
}

.about-meta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    align-items: start;
    margin-top: 24px;
}

.about-links {
    margin-top: 41px;
}

.about-links p {
    margin-bottom: 10px;
}

.about-links a {
    color: var(--color-accent);
    text-decoration: none;
}

.about-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-meta {
        grid-template-columns: 1fr;
    }
}
